{% extends 'base.html' %}
{% block content %}
    <div class="message">
        {% with messages = get_flashed_messages()%}
            {% if messages %}
                <ul>
               {% for message in messages %}
                    {% if "Sorry" in message %}
                        <li style="color: darkred;">❌&nbsp;{{message}}</li>
                   {% else %}
                        <li style="color: darkgreen;">✅&nbsp;{{message}}</li>
                   {% endif %}
                {% endfor %}
               </ul>
            {% endif%}
        {%endwith%}
    </div>
    <h2>Change Password</h2>

    ⯈ Please enter your new password:<br><br>

    Name : {{club['name']}}<br>
    Email : {{club['email']}}
    <br><br>
    <form action="{{ url_for('change_password', club=club['name']) }}" method="post">
        <label for="password">Password:</label>
        <input type="password" name="password" id=""/>

        <label for="confirm_password">Confirm Password:</label>
        <input type="password" name="confirm_password" id=""/>
        <br><br>
        <button type="submit">Change password</button>
    </form>
{% endblock %}