{% extends 'base.html' %}
{% block content %}
     <div class="message">
        {% with messages = get_flashed_messages()%}
            {% if messages %}
                <ul>
               {% for message in messages %}
                    {% if "Sorry" in message %}
                        <li style="color: darkred;">❌&nbsp;{{message}}</li>
                   {% else %}
                        <li style="color: darkgreen;">✅&nbsp;{{message}}</li>
                   {% endif %}
                {% endfor %}
               </ul>
            {% endif%}
        {%endwith%}
    </div>

    <h2>Authentication</h2>

    ⯈ Please enter your secretary email and your password to continue or <a href="{{url_for('sign_up')}}">sign up</a>
    <br>
    <br>
    <form action="showSummary" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email"/>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password"/>
        <br><br>
        <button type="submit" id="login">Enter</button>
    </form>
    <br>
{% endblock %}