{% extends 'base.html' %}
{% block content %}
     <div class="message">
        {% with messages = get_flashed_messages()%}
            {% if messages %}
                <ul>
               {% for message in messages %}
                    ❌&nbsp;<li>{{message}}</li>
                {% endfor %}
               </ul>
            {% endif%}
        {%endwith%}
    </div>

    <h2>Welcome, {{club['email']}} </h2>
    <h3>- Profile -</h3>
    <ul class="profile">
        <li>Name : {{club['name']}}</li>
        <li>Email : {{club['email']}}</li>
        <br>
        <a href="{{url_for('change_password', club=club['name'])}}">Change password</a></li>
        <br><br>
        <li>Points available: {{club['points']}}</li>
    </ul>
    <br>
    <a href="{{url_for('index')}}">Go to home page</a>

    {%endwith%}

{% endblock %}