{% extends 'base.html' %}
{% block content %}
     <div class="message">
        {% with messages = get_flashed_messages()%}
            {% if messages %}
                <ul>
               {% for message in messages %}
                   {% if "Sorry" in message %}
                        <li style="color: darkred;">❌&nbsp;{{message}}</li>
                   {% else %}
                        <li style="color: darkgreen;">✅&nbsp;{{message}}</li>
                   {% endif %}
                {% endfor %}
               </ul>
            {% endif%}
        {%endwith%}
    </div>

    <h2>Welcome, {{club['email']}} </h2>
    <h3>- Profile -</h3>
    <ul class="profile">
        <li>Name : {{club['name']}}</li>
        <li>Email : {{club['email']}}</li>
        <li><a href="{{url_for('change_password', club=club['name'])}}">Change password</a></li>
        <li>Points available: {{club['points']}}</li>
    </ul>
    <br>
    <a href="{{url_for('show_summary', club=club['name'])}}">Go to summary</a>

{% endblock %}