{% extends 'base.html' %}
{% block content %}
    <div class="message">
        {% with messages = get_flashed_messages()%}
            {% if messages %}
                <ul>
               {% for message in messages %}
                    {% if "Sorry" in message %}
                        {% if error %}
                            <li style="color: darkred;">{{ error }} - ❌&nbsp;{{message}}</li>
                        {% else %}
                            <li style="color: darkred;">❌&nbsp;{{message}}</li>
                        {% endif %}
                   {% else %}
                        <li style="color: darkgreen;">✅&nbsp;{{message}}</li>
                   {% endif %}
                {% endfor %}
               </ul>
            {% endif%}
        {%endwith%}
    </div>
    <h2>Registration</h2>
    ⯈ Please enter your details
    <br><br>
    <form action="profile" method="post">
        <label for="name">Club name:</label>
        <input type="text" name="name" id="name"/>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email"/>
        <br><br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password"/>
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" name="confirm_password" id="confirm-password"/>
        <br>
        <br>
        <button type="submit" id="signup">Create club profile</button>
    </form>
    <a class="book" href="{{ url_for("index") }}">Go back</a>
{% endblock %}l>